:root {
  --color1: #1fa8cf;
  --color2: #ffffff;
  --color3: #b3cedb;
  --color4: #FF7A57;
}

body {
  margin: 0;
  padding: 0;
  font-family: Josefin sans, Verdana;
background-image: url("img/pozadie.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#navbar {
  width: 30%;
  height: 6vh;
  position: fixed;
  right: 0;
  z-index: 2;
  background-color: var(--color4);
	border-radius: 40px;
	margin-right: 3vw;
	margin-top: 2vh;
	
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  list-style-type: none;
}

#navbar a {
  text-decoration: none;
  color: var(--color2);
  font-size: 3vh;
  text-transform: uppercase;
}

#background {
  position: absolute;
  z-index: 1;
  width: 70%;
  background-color: var(--color1);
  left: 10vw;
  border-radius: 20px 20px 0 0;
  color: var(--color1);
	margin-top: 10vh;
}

#intro {
	height: 50vh;
	background-image: url("img/header.jpg");
	background-size: 101%;
	background-repeat: no-repeat;
	line-height: 2vh;
	border-radius: 20px 20px 0 0;
}

#intro h1 {
  font-size: 10vh;
	margin: 0;
	padding-top: 20vh;
	padding-left: 3vw;
}

#intro p:first-of-type {
  font-size: 5vh;
 padding-left: 3vw;
	opacity: 60%;
}

#intro p:last-of-type {
	opacity: 30%;
	font-size: 3vh;
	padding-left: 6vw;
}

#headline {
	text-align: center;
	height: 7vh;
	font-size: 3vh;
	background-color: var(--color1);
	color: var(--color2);
}

#projects {
	height: 100%;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	gap: 2vh 2vw;
	padding: 1vh;
  margin: 0 auto;
}

#projects img {
	object-fit: fill;
	border-radius: 20px;
	width: 100%;
 max-width: 350px;
  height: auto;
	transition: transform 1s ease-in-out 0ms;
	border: 5px solid var(--color4);
}

#projects img:hover {
	transform: scale(1.1);
	
}

#contact {
	line-height: 1vh;
	text-align: right;
	margin-right: 5vw;
	height: 15vh;
	color: var(--color2);
}

#contact h1 {
	margin-bottom: 5vh;
}

@media screen and (max-width: 1050px) {
	#intro {
		height: 40vh;
		margin-top: 0;
	}
}

@media screen and (max-width: 900px) {
	#navbar {
		width: 150px;
		height: 100px;
		display: block;
		align: center;
	}
}

@media screen and (min-width: 720px) and (max-width: 820px) {
	#navbar { 
		width: 150px; 
		height: 100px;
		display: block;
  align: center;
	} 
	
	#navbar a { 
		display: block;
		text-align: center;
		font-size: 20px;
	} 
	
	#intro {
		height: 30vh;
	}
	
	#intro h1 {
		padding-top: 10vh;
		font-size: 50px;
	}
	
	#intro p:first-of-type {
		font-size: 30px;
	}
	
	#intro p:last-of-type {
		font-size: 20px;
		margin-top: -20px;
	}
	
	#headline {
		margin-top: -10vh;
	}
}

@media screen and (max-width: 550px) {
#projects img {
	max-width: 300px;
}
	
	#intro {
		line-height: 1vh;
		height: 23vh;
	}
	
	#intro h1{
	font-size: 5vh;
		padding-top: 10vh;
}
	
	#intro p:first-of-type {
		font-size: 3vh;
	}
	
	#intro p:last-of-type {
		font-size: 2vh;
	}
	
	#headline {
	height: 7vh;
		margin-top: 0;
}
	
	@media screen and (max-width: 430px) {
		#intro h1 {
			font-size: 20px;
			padding-top: 5vh;
		}
		
		#intro p:first-of-type {
			font-size: 15px;
		}
		
		#intro p:last-of-type {
			font-size: 12px;
		}
		
		#projects img {
			max-width: 200px;
		}
		
		#headline {
			margin-top: -10vh;
		}
		}
	}

@media screen and (max-width: 375px) {
	#headline {
		margin-top: -7vh;
	}
}

